.dropdown {
  position: relative;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 14px;
}

.selected {
  font-weight: bold;
}

.options {
  position: absolute;
  background: var(--app-black);
  border: 1px solid #ccc;
  z-index: 1000;
  font-size: 14px;

}

.option {
  padding: 10px;
}
